{% extends 'Base/base.html' %}
{% block title %}{{ accion }} Insumo{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        "title": "Información del Sistema",
        "text": "{{message}}",
        "icon": "{{message.tags}}"
    })
</script>
{% endfor %}
{% endif %}

<br>
<div class="container" style="background-color: dark; margin-top: 5px; max-width: 70%;"><br>
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-md-12">
                <div class="card md-6">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">{{ accion }} Insumo</h5>
                        <small class="text-muted float-end">Insumos</small>
                    </div>
                    <div class="card-body">
                        <form method="POST">{% csrf_token %}
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10">
                                    {{ form.nombre }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Fecha</label>
                                <div class="col-sm-10">
                                    {{ form.fecha }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Usuario</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" readonly value="{{ user.username }}">
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">{{ accion }}Crear</button>
                                    <a href="{% url 'listar_insumos' %}" class="btn btn-secondary">Cancelar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
